/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: var(--width);
  margin: auto;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  padding-block-start: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
}

.header {
  border: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  inline-size: 100%;
  padding: 136px 0 25px;
  align-items: center;
}

.header__logo {
  margin-block-end: 20px;
  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--logo-font-size);
  line-height: normal;
}

.header__title {
  margin-block-end: 25px;
  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--heading-font-size);
  line-height: normal;
}

.header__theme-menu {
  margin: 0 auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
font-size: 0;
position: relative;
inset-inline-start: 9px;
}

.theme-menu__button {
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
  background: transparent;
  border: none;
  padding: 0;
  block-size: 14px;
}

.theme-menu__button:disabled::before {
  content: '▶';
  inset-inline-start: -20px;
  inline-size: 14px;
  block-size: 14px;
  position: absolute;
}

.content {
  width: 100%;
  padding-block-start: 104px;
}

@media (width <= 375px) {
  .header {
    padding: 120px 0 25px;
  }
}